.footer {
  color: #999;
  text-align: center;
  padding: 10px 8px;
  font-size: 12px;
  border-top: 1px solid #222; /* subtle */
  margin-top: auto;
  font-weight: normal;
}

.footer:hover {
  color: #ccc;
}
