.footer {
  color: #999;
  text-align: center;
  padding: 5px 5px;
  font-size: 10px;
  border-top: 1px solid #222; /* subtle */
  margin-top: auto;
  font-weight: normal;
}

.footer:hover {
  color: #ccc;
}
 