.footer {
  background: linear-gradient(135deg, #161b22, #1b1f27);
  color: #bebebe;
  text-align: center;
  padding: 5px 5px;
  font-size: 12px;
  border-top: 1px solid #2c313a;
  margin-top: auto;
  font-weight: normal;
}

.footer:hover {
  color: #ccc;
}
 