.header {
  color: #e0e0e0;
  padding: 14px 25px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(10deg, #1f1f1f, #2a2a2a);
    border: 1px solid #4f4f4f;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.header-title {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
}



.header-right {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: transparent;
    border: 1px solid #b5b5b5;

  padding: 5px 15px;
  padding-bottom: 6px;
  border-radius: 5px;
  color: #e0e0e0;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.25s ease, color 0.25s, border-color 0.25s;
}

.logout-button:hover {
  background-color: #4285f4; /* Google Blue */
  border-color: #4285f4;
  color: #fff;
}


.header-nav {
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 10px;
  padding-top: 12px;
    border-top: 1px solid #3e3e3e;

}

.header-nav a {
  color: #cccccc;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.2s ease-in-out;
}

.header-nav a:hover {
  color: #82b1ff; /* Softer Google Blue on hover */
}


.header-nav a.active {
  color: #4285f4;
  font-weight: bold;
  border-bottom: 2px solid #4285f4;
}
