html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  letter-spacing: 0.2px;
}

body {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  background-color: #0a0a0a;
  color: white;
}